@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* GENERAL */
:root{
    --main-color:#e0ac00;
    --background-color: #111;
    --content-color:#222;
    --hover:sepia();
}

*{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
}

*::selection{
    background-color: var(--main-color);
}

a{
    text-decoration: none;
}

h1,h2,a,p{
    color:#fff;
    margin:0px;
}

.button{
    background-color: var(--main-color);
    color:#000;
    width: 120px;
    height: 30px;
    border-radius: 12px;
    text-align: center;
    line-height: 50px;
    transition: all 0.6s ease ; 
}

.button:hover{
    transform: scale(0.9);
    filter: sepia();
}

.container{
    background-color: var(--background-color);
    max-width: 1600px;
}

/*HEADER*/

.container .header{
    background-color: var(--background-color);
    width: 100%;
    padding:10px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    z-index: 100;
    top:0;
}

.container .header .logo{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 30px;
    color: var(--main-color);
}

.container .header .logo:hover{
    filter: var(--hover);
}

.container .header .logo span{
    font-size: 14px;
    color: var(--main-color);
    padding-left: 10px;
}

.container .header .menu a{
    padding: 0 14px;
    transition: color 0.6s ease-out;
}

.container .header .menu a:hover{
    color:var(--main-color);
}

/*BANNER*/

.container .banner{
    background-image: url("../images/new-york-690868_1920.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    position: relative;
	z-index: 1;
    background-color:var(--background-color);
}

.banner:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}

.container .banner .inner{
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    padding:20px ;

}

.container .banner .inner h1{
    margin: 0px;
}

.container .banner .inner a{
    background-color: var(--main-color);
    color:#000;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    transition: all 0.4s ease ;
    -webkit-clip-path: polygon(50% 25%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path: polygon(50% 25%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
}

.container .banner .inner a:hover{
    transform: scale(0.9);
    filter: sepia();
    line-height: 100px;
}


/*MAIN*/
.container .main{
}

.container .main .main-section{
    background-color: var(--content-color);
    margin-bottom: 50px;
    padding: 50px 5%;
}

.container .main .main-section h2{
    margin-bottom: 20px ;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
    transition: all 0.7s ease;
}

.container .main .main-section h2:hover{
    display: inline-block;
    color: var(--main-color);
}


.container .main .section-1 {
    display: grid;
    grid-gap:50px;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-template-rows: repeat(3,auto);
    grid-auto-flow: dense;
    align-items: center;
}

.container .main .section-1 .item-img {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    border-radius: 15px;
}



.container .main .section-1 .item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.container .main .section-1 .item-1 {
    grid-column: span 2;
}

.container .main .section-1 .item-3 {
    grid-column: 2/4;
}

.container .main .section-1 .item-5 {
    grid-column: 1/3;
}

.container .main .section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .main .section-2 .section2-item{
    min-width: 350px;
    width: 33%;
    padding:0 3%;
    text-align: center;
    margin-bottom: 30px;
}


.container .main .section-2 .section2-item .item-img{
    height: 300px;
    margin-bottom: 40px;
}


.container .main .section-2 .section2-item img{
    width: 100%;
    height: 100%;
    border-radius: 100%;  
    object-fit: cover;
    object-position: center;
    -webkit-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 60px 0px rgba(0,0,0,1);
} 

.container .main .section-2 .section2-item img:hover{
    
    -webkit-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 56px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 60px 0px var(--main-color)
} 

.container .main .form .form-container{
    background-color: #222;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    justify-content:space-evenly;
    border-radius: 15px;
}

.container .main .form .form-container .formulario_contacto{
    min-width: 300px;
    flex:1;
    text-align: center;
    padding: 0 3%;
}

.container .main .form .form-container .formulario_contacto .form_input{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border:none;
    border-bottom:2px solid var(--main-color);
    background: transparent;
    color:#fff;
}

.container .main .form .form-container .formulario_contacto input[type="submit"]{
    background-color: var(--main-color);
    
    margin-top:40px;
    width: 30%;
    border-radius: 12px;
    border: none;
    color: #111;
}

.container .main .form .form-container .formulario_contacto input[type="submit"]:hover{
    filter: var(--hover);
    color:black;
}

.container .main .form .form-container .formulario_contacto input[type="submit"]:focus{
    transform:scale(1.1);
    background:var(--main-color);
}

.container .main .form .form-container .formulario_contacto .form_input:focus{
    background: linear-gradient(to bottom,transparent,#111);
    outline: none;
    border-bottom:2px solid var(--main-color);
}

.container .main .form .form-container .formulario_contacto textarea{
    resize: none;
    min-height: 140px;
}

.container .main .form .form-container .form_img{
    width: 30%;
}

.container .main .form .form-container img{
    width: 100%;
}


.footer{
    height: 60px;
    justify-items: center;
    background-color: var(--main-color);
    position: sticky;
    bottom: 0;
    display:flex;
    justify-content: center;
}

.footer .social{

}

.footer .social i{
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    color: #000;
    transition: color 0.6s ease ;
}

.footer .social i:hover{
    color:var(--hover);
}







